.container{
  position: relative;
  .div1{
    height: 120rpx;
    width: 120rpx;
    position: absolute;
    z-index: 9;
    image{
      height: 120rpx;
      width: 120rpx;
      margin-top: 1100rpx;
    }
  }
  .div2{
    margin-top: -150rpx;
    height: 50rpx;
    width: 300rpx;
    position: absolute;
    z-index: 2;
    image{
      height: 50rpx;
      width: 300rpx;
    }
  }
  .div3{
    position:absolute;
    z-index: -1;
  }
}