button{
  background-color: blueviolet;
}
image{
  height: 1000rpx;
  width: 500rpx;
}
.div1{
  height: 1000rpx;
  width: 600rpx;
  position: absolute;
  z-index: 1;
}
.div2{
  position: absolute;
  z-index: 0;
}